# App database
APP_DB_NAME=orgasm
APP_DB_USER=orgasm
APP_DB_PASSWORD=orgasm
APP_DB_ROOT_PASSWORD=orgasm_root

# Billing database
BILLING_DB_NAME=orgasm_billing
BILLING_DB_USER=orgasm_billing
BILLING_DB_PASSWORD=orgasm_billing
BILLING_DB_ROOT_PASSWORD=orgasm_billing_root
